@model IEnumerable<Tirelires.DetailCommande>
@{
    ViewData["Title"] = "Index";
    decimal total = 0;
}

@foreach (var item in Model)
{
    if (item.Quantite != 0)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.IdProduitNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantite)
            </td>
            <td>
                @Html.DisplayFor(model => item.PrixUnitaire)
            </td>
            <td>
                @{
                    total += (item.Quantite * item.PrixUnitaire);
                }
                <span>@(item.Quantite * item.PrixUnitaire) €</span>
            </td>
            <td>
                @Html.DisplayFor(model => item.IdCommandeNavigation.Id)
            </td>
            <td>
                <button class="btn btn-primary" onclick="retirerDuPanier(@item.IdProduitNavigation.Id);">Retirer du panier</button>
            </td>
        </tr>
    }
}
<tr>
    <td>
        <b>Montant total :</b>
    </td>
    <td>
        @total € 
    </td>
</tr>
