@model IEnumerable<Tirelires.Produit>

@{
    ViewData["Title"] = "Produits";
}

<h1>Produits</h1>

<p>
    <a asp-action="Create">Créer nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hauteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Largeur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longueur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poids)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacité)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCouleurNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFabricantNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <div class="photo-display">
                        <img class="photo-display-img" src="@Url.Action("GetImage", "Produit", new { Id = item.Id })" />
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hauteur)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Largeur)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longueur)cm
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)g
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacité) pièces de 1€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCouleurNavigation.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFabricantNavigation.Nom)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
