@model IEnumerable<Tirelires.DetailCommande>

@{
    ViewData["Title"] = "Index";
    decimal total = 0;
}

<h1>Panier</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduitNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th>
                Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCommandeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduitNavigation.Nom)
                </td>
                <td id="quantity">
                    @Html.DisplayFor(modelItem => item.Quantite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrixUnitaire)
                </td>
                <td>
                    @{ 
                        total += (item.Quantite * item.PrixUnitaire);
                    }
                    <span>@(item.Quantite*item.PrixUnitaire)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCommandeNavigation.Id)
                </td>
                <td>
                    <button class="btn btn-primary" onclick="retirerDuPanier(@item.Id);">Retirer du panier</button>
                </td>
            </tr>
        }
        <tr>
            <td>
                <b>Montant total :</b>
            </td>
            <td>
                @total
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-area="" asp-controller="Produit" asp-action="Gallery">Retour aux produits</a>
</div>

<script type="text/javascript">
    function retirerDuPanier(id) {
        var qte = $("#quantity").val();
        $.ajax(
            {
                type: "GET",
                url: "@Url.Action("RemoveFromShoppingCard","Produit")",
                data: {
                    id: id,
                    qte: qte
                },
                success: function (result) {
                    alert(result)
                },
                error: function () {alert("Erreur Ajax")}
            }
        );
    }
</script>
