@model IEnumerable<Tirelires.DetailCommande>

@{
    ViewData["Title"] = "Index";
    decimal total = 0;
}

<h1>Panier</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProduitNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrixUnitaire)
            </th>
            <th>
                Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCommandeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <partial name="/Views/Shared/_DetailCommande.cshtml" model=@Model />
        <tr>
            <td>
                <b>Montant total :</b>
            </td>
            <td>
                @total €
            </td>
        </tr>
    </tbody>
</table>

<div>
    <a asp-area="" asp-controller="Produit" asp-action="Gallery">Retour aux produits</a>
</div>

<script type="text/javascript">
    function retirerDuPanier(id) {
        $.ajax(
            {
                type: "GET",
                url: "@Url.Action("RemoveFromShoppingCard","Produit")",
                data: {
                    id: id
                },
                success: function (result) {
                    alert("Panier mis à jour.")
                },
                error: function () {alert("Ajax a rencontré une erreur.")}
            }
        );
    }
</script>
